<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph</title>
    <style>
        #d3_selectable_force_directed_graph svg {
            border: 1px solid;
            font: 13px sans-serif;
            text-anchor: end;
        }

        #d3_selectable_force_directed_graph .node {
            stroke: #fff;
            stroke-width: 1px;
        }

        .node .selected {
            stroke: black;
        }

        .link {
            stroke: #999;
        }

 
    </style>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-fetch@3"></script>

</head>

<body>
    <div align='center' id="d3_selectable_force_directed_graph" style="width: 100%; height: 100%; margin: auto; margin-bottom: 12px">
        <svg />
    </div>
   <!--  <svg width="1920" height="1080"></svg> -->
    <script src="./index.js"></script>
    <script src="./graph.js"></script>

</body>

</html>